<!DOCTYPE html>
<html class="h-full" lang="en" style="scrollbar-gutter: stable;">
  <head>
    <link href={~p"/assets/hx.css"} phx-track-static rel="stylesheet" />

    <meta charset="utf-8">
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= status_message(@conn.status) %> | Hx</title>
  </head>
  <body class="antialiased h-full">
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
      <div class="text-center">
        <p class="text-base font-semibold text-indigo-600" id="status_code">
          <%= @conn.status %>
        </p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl" id="status_message">
          <%= status_message(@conn.status) %>
        </h1>
      </div>
    </main>
  </body>
</html>
